<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
       var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Weight');
        data.addColumn('number', 'Description');
        data.addRows([
          [ 'A', 'X', 5,2 ],
          [ 'A', 'Y', 7,6 ],
          [ 'A', 'Z', 6, 4 ],
          [ 'B', 'X', 2, 4],
          [ 'B', 'Y', 9,6 ],
          [ 'B', 'Z', 4,2 ],
          [ 'X', 'T', 4,7 ],
          [ 'X', 'U', 6,9 ],
          [ 'X', 'W', 4,3 ]
        ]);

        // Sets chart options.
        var options = {
          width: 600,
        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="sankey_basic" style="width: 900px; height: 300px;"></div>
  </body>
</html>